{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Менеджер задач</title>
</head>

<body class="d-flex flex-column min-vh-100">
      {% include 'navbar.html' %}

  
      <div class="container wrapper flex-grow-1">
          <div class="alert-{{ message.tags }}" role="alert">
              {% bootstrap_messages %}
          </div>
              {% block content %}
              {% endblock %}
      </div>
  </body>

</html>